<div id="prose-list" class="pt-6 pb-8 grayscale bg-white lg:pb-16">
	<div class="flex flex-row justify-between mx-auto max-w-7xl lc-block">
		<div class="w-full max-w-3xl mx-auto lc-block">
			<section id="content-list">
				[lc_get_post post_type="lc_section" slug="prose-loop"]
			</section>
		</div>
		<aside class="hidden lg:block lg:w-80" aria-labelledby="sidebar-label">
			<div class="sticky top-36 lc-block">
				<h3 id="sidebar-label" class="sr-only lc-block">Sidebar</h3>
				<div class="lc-block">
					[artisan_sidebar_tags]
				</div>
				<div class="lc-block">
					[artisan_resources_block]
				</div>
				<div class="lc-block">
					[artisan_sidebar_changelog]
				</div>
			</div>
		</aside>
	</div>
	
</div>
