<section>
	<div class="px-4 sm:px-6 lg:px-8">
		<div class="relative justify-center items-center flex flex-col gap-2 mx-auto pt-20 text-center pb-20">
			<h1 class="text-4xl font-extrabold tracking-tight text-slate-900 sm:text-7xl">Changelog</h1>
			<p class="mt-4 text-base leading-7 text-slate-600 text-xl max-w-3xl leading-relaxed">Stay up to date with all of the latest additions and improvements we've made to Artisan.</p>
			<form action="https://app.convertkit.com/forms/1074308/subscriptions" method="post" class="mt-6 flex justify-center">
				<h2 class="sr-only">Subscribe via email</h2>
				<div class="relative w-64 shrink">
					<label for="subscribe-email" class="sr-only">Email address</label>
					<input id="subscribe-email" name="email_address" type="email" required="" class="block h-10 w-full rounded-md bg-white pl-12 pr-3 text-slate-900 shadow-md shadow-black/5 ring-1 ring-slate-900/5 placeholder:text-slate-400 focus:outline-none focus:ring-2 focus:ring-sky-500 sm:text-sm sm:leading-6" placeholder="Subscribe via email">
					<svg class="pointer-events-none absolute left-3 top-2 h-6 w-6 stroke-slate-400" fill="none" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
						<path d="M5 7.92C5 6.86 5.865 6 6.931 6h10.138C18.135 6 19 6.86 19 7.92v8.16c0 1.06-.865 1.92-1.931 1.92H6.931A1.926 1.926 0 0 1 5 16.08V7.92Z"></path>
						<path d="m6 7 6 5 6-5"></path>
					</svg>
				</div>
				<button type="submit" class="inline-flex justify-center rounded-md text-sm font-semibold py-2.5 px-4 bg-slate-900 text-white hover:bg-slate-700 ml-4 flex-none">
					<span>Subscribe</span>
				</button>
			</form>
		</div>
	</div>
</section>
<section>
	<div class="relative mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
		[artisan_loop post_type="changelog" posts_per_page="10"]
		<section hx-boost="true" id="2023-07-13" aria-labelledby="2023-07-13-heading" class="md:flex">
			<h2 id="2023-07-13-heading" class="pl-7 text-sm leading-6 text-slate-500 md:w-1/4 md:pl-0 md:pr-12 md:text-right">
				<a href="#2023-07-13">[artisan_published_date]</a>
			</h2>
			<div class="relative pl-7 pt-2 md:w-3/4 md:pl-12 md:pt-0 pb-16 cursor hover:bg-slate-100/30">
				<div class="absolute bottom-0 left-0 w-px bg-slate-200 -top-3 md:top-2.5"></div>
				<div class="absolute -left-1 -top-[1.0625rem] h-[0.5625rem] w-[0.5625rem] rounded-full border-2 border-slate-300 bg-white md:top-[0.4375rem]"></div>
				<div class="max-w-none prose-h3:mb-4 prose-h3:text-base prose-h3:leading-6 prose-sm prose prose-slate prose-a:font-semibold prose-a:text-sky-500 hover:prose-a:text-sky-600">
					<h3 lc-helper="shortcode" class="live-shortcode">[lc_the_title]</h3>
					<p lc-helper="shortcode" class="live-shortcode">[lc_the_excerpt length="20" link=1 read_more_text="Get The Deets"]</p>
					<a href="%5Bartisan_post_permalink%5D" lc-helper="shortcode" class="live-shortcode">
						[lc_the_thumbnail class="rounded-xl aspect-auto max-w-96"]
					</a>
				</div>
			</div>
		</section>
		[/artisan_loop]
	</div>
</section>