<div id="_artisan-cards" class="articles-grid grid grid-cols-1 gap-8 sm:grid-cols-1 lg:gap-y-12 md:grid-cols-2 lg:grid-cols-2">
    <article class="p-6 bg-slate-950 rounded-lg border border-gray-200 shadow-md">
        <!-- The inner loop content -->
        <div class="flex flex-row justify-start gap-2 items-center mb-5 text-gray-500">
            <span class="bg-slate-300 text-slate-900 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded dark:bg-primary-200 dark:text-primary-800">
                <!--Tag Name-->
                Tag Name
            </span>
            <span class="block text-sm">Published <!--Post Date--> Post Date </span>
        </div>
        <h2 class="mb-2 text-2xl font-bold tracking-tight text-slate-50">
            <a href="<!--Post Link-->"><!--Post Title-->Post Title</a>
        </h2>
        <p class="mb-5">
            <span class="font-light text-slate-100">
                <!--Post Excerpt--> Post Excerpt
            </span>
        </p>
        <div class="flex pt-4 justify-between items-center">
            <div class="flex gap-1 items-center space-x-4">
                <img class="w-7 h-7 rounded-full dark:invert" src="<!--Author Avatar URL-->" alt="<!--Author Name--> profile picture" />
                <span class="font-medium text-slate-100">
                    <!--Author Name--> Author Name
                </span>
            </div>
            <a href="<!--Post Link-->" class="inline-flex items-center font-medium text-slate-100 hover:underline">
                Read more
                <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd">
                    </path>
                </svg>
            </a>
        </div>
    </article>
    <!-- Duplicate the article tag for each card -->
</div>
