<section class=" lc-block live-shortcode" lc-helper="shortcode">
[artisan_pagination count="6" totalCount="artisan_total_posts"]
    <nav x-data="{ currentPage: {current_page}, totalPage: {total_pages} }" class="flex items-center justify-between border-t border-gray-200 py-3" aria-label="Pagination"  hx-boost="true" hx-target="#content-list" hx-select="#content-list" hx-swap="outerHTML">
        <div  class="flex flex-1 justify-between sm:justify-end lc-block" editable="inline">
            <a x-show="currentPage > 1" href="/hub/blog/page/{prev_page}" 
			   
			  	class="relative inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0 lc-block" editable="inline" role="button">Previous</a>
            <a x-show="currentPage < totalPage" 
			  
			   href="/hub/blog/page/{next_page}" class="relative ml-3 inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus-visible:outline-offset-0 lc-block" editable="inline" role="button">Next</a>
        </div>
    </nav>
[/artisan_pagination]
</section>
