
<h2 class="sr-only">Subscribe via email</h2>
<div class="relative w-64 shrink">
	<label for="subscribe-email" class="sr-only">Email address</label>
	<input id="subscribe-email" name="email_address" type="email" required="" class="block h-10 w-full rounded-md bg-white pl-12 pr-3 text-slate-900 shadow-md shadow-black/5 ring-1 ring-slate-900/5 placeholder:text-slate-400 focus:outline-none focus:ring-2 focus:ring-sky-500 sm:text-sm sm:leading-6" placeholder="Subscribe via email">
	<svg class="pointer-events-none absolute left-3 top-2 h-6 w-6 stroke-slate-400" fill="none" xmlns="http://www.w3.org/2000/svg" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
		<path d="M5 7.92C5 6.86 5.865 6 6.931 6h10.138C18.135 6 19 6.86 19 7.92v8.16c0 1.06-.865 1.92-1.931 1.92H6.931A1.926 1.926 0 0 1 5 16.08V7.92Z"></path>
		<path d="m6 7 6 5 6-5"></path>
	</svg>
</div>
<button type="submit" class="inline-flex justify-center rounded-md text-sm font-semibold py-2.5 px-4 bg-slate-900 text-white hover:bg-slate-700 ml-4 flex-none">
	<span>Subscribe</span>
</button>
