<div lc-helper="shortcode" class="live-shortcode">
	[lc_get_post post_type="lc_partial" slug="header"]
</div>
<div id="prose" class="grayscale lc-block max-w-96"> 
 <main class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white">
  <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
      <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue">
          <header class="mb-4 lg:mb-6 not-format">
              <address class="flex items-center mb-6 not-italic">
                  <div lc-helper="shortcode" class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white">
                      [lc_the_avatar size="64" class="mr-4 w-16 h-16 rounded-full"]
                      <div>
                          <a href="#" rel="author" class="text-xl font-bold text-gray-900">[lc_the_author]</a>
                          <p class="text-base font-light text-gray-500">Master of the Universe</p>
                          <p class="text-base font-light text-gray-500"><time pubdate datetime="[lc_the_date]" title="[lc_the_date]" lc-helper="shortcode">[lc_the_date] | [lc_the_time]</time></p>
                      </div>
                  </div>
              </address>
			 <div lc-helper="shortcode" class="live-shortcode my-8">
				 
			 [lc_get_post post_type="lc_block" slug="social-button-group"]
 </div>
              <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl">[lc_the_title]</h1>
          </header>
          <content-block lc-helper="shortcode">[lc_the_content]</content-block>
      </article>
  </div>
</main>
<div lc-helper="shortcode" class="live-shortcode">
	[related_articles]
	</div>
</div>
<div lc-helper="shortcode" class="live-shortcode">

[lc_get_post post_type="lc_partial" slug="footer"]
</div>

