{% set sizes = [
    { 'id': '0', 'value': 'max-w-0', 'title': 'max-width: 0rem', 'label': '0'},
    { 'id': 'none', 'value': 'max-w-none', 'title': 'max-width: none', 'label': 'None'},
    { 'id': 'xs', 'value': 'max-w-xs', 'title': 'max-width: 20rem', 'label': 'XS'},
    { 'id': 'sm', 'value': 'max-w-sm', 'title': 'max-width: 24rem', 'label': 'SM'},
    { 'id': 'md', 'value': 'max-w-md', 'title': 'max-width: 28rem', 'label': 'MD'},
    { 'id': 'lg', 'value': 'max-w-lg', 'title': 'max-width: 32rem', 'label': 'LG'},
    { 'id': 'xl', 'value': 'max-w-xl', 'title': 'max-width: 36rem', 'label': 'XL'},
    { 'id': '2xl', 'value': 'max-w-2xl', 'title': 'max-width: 42rem', 'label': '2XL'},
    { 'id': '3xl', 'value': 'max-w-3xl', 'title': 'max-width: 48rem', 'label': '3XL'},
    { 'id': '4xl', 'value': 'max-w-4xl', 'title': 'max-width: 56rem', 'label': '4XL'},
    { 'id': '5xl', 'value': 'max-w-5xl', 'title': 'max-width: 64rem', 'label': '5XL'},
    { 'id': '6xl', 'value': 'max-w-6xl', 'title': 'max-width: 72rem', 'label': '6XL'},
    { 'id': '7xl', 'value': 'max-w-7xl', 'title': 'max-width: 80rem', 'label': '7XL'},
    { 'id': 'full', 'value': 'max-w-full', 'title': 'max-width: 100%', 'label': 'Full'},
    { 'id': 'min', 'value': 'max-w-min', 'title': 'max-width: min-content', 'label': 'Min'},
    { 'id': 'max', 'value': 'max-w-max', 'title': 'max-width: max-content', 'label': 'Max'},
    { 'id': 'fit', 'value': 'max-w-fit', 'title': 'max-width: fit-content', 'label': 'Fit'},
    { 'id': 'prose', 'value': 'max-w-prose', 'title': 'max-width: 65ch', 'label': 'Prose'},
    { 'id': 'screen-sm', 'value': 'max-w-screen-sm', 'title': 'max-width: 640px', 'label': 'SN-SM'},
    { 'id': 'screen-md', 'value': 'max-w-screen-md', 'title': 'max-width: 768px', 'label': 'SN-MD'},
    { 'id': 'screen-lg', 'value': 'max-w-screen-lg', 'title': 'max-width: 1024px', 'label': 'SN-LG'},
    { 'id': 'screen-xl', 'value': 'max-w-screen-xl', 'title': 'max-width: 1280px', 'label': 'SN-XL'},
    { 'id': 'screen-2xl', 'value': 'max-w-screen-2xl', 'title': 'max-width: 1536px', 'label': 'Screen 2XL'}
] %}

<section id="view-section" class="flex flex-col p-4 justify-center items-center w-full h-screen">
   <div x-data="{url: '', size: 'max-w-screen-2xl'}" class="flex w-full h-full flex-col justify-start items-start gap-4 px-4">
   <div id="view-container" class="flex flex-col gap-4">
      <div id="input-form">
         <input x-model="url" type="text" placeholder="/path/to/your/url">
         <span x-text="url" />
      </div>
      <div id="view-form" class="flex flex-row justify-between space-x-4 items-start">
    {% for size in sizes %}
        <div class="flex flex-col justify-center items-center">
            <input x-model="size" type="radio" class="hidden peer" id="{{ size.id }}" value="{{ size.value }}">
            <label class="cursor-pointer px-2 py-1 rounded-md text-slate-400 border peer-checked:text-slate-100 hover:bg-slate-100 peer-checked:bg-slate-800" for="{{ size.id }}" title="{{ size.title }}">{{ size.label }}</label>
        </div>
    {% endfor %}
</div>
   </div>
   <div id="preview-frame" class="py-4 w-full flex justify-center items-stratch rounded-lg border border-black shadow-lg p-4">
         <iframe :src="url" :class="size" class="border rounded-lg" style="width: 100%; min-height: 750px;"></iframe>
      </div>
</section>