{% set step = step is defined ? step : 1 %}
{% set form_fields = form_fields is defined ? form_fields : json_decode(form_fields_json, true) %}
{% set current_field = form_fields[step] %}

<h2 class="relative inline-block px-5 py-2 mb-4 text-5xl font-bold font-extrabold bg-white border-2 border-black lc-block" editable="inline">
    <div class="absolute w-full py-2 h-full inset-0 border-2 border-black bg-black ml-1.5 mt-1.5 lc-block"></div>
    <div class="absolute inset-0 w-full h-full py-2 bg-white lc-block"></div>
    <span class="relative lc-block" editable="inline">{{ current_field.meta_box.manager.question }}</span>
</h2>
<p class="text-xl font-medium text-gray-600 lc-block" editable="inline">{{ current_field.meta_box.manager.describe }}</p>

<ul class="grid gap-4 sm:grid-cols-2 md:grid-cols-4">
    {% for option in current_field.meta_box.manager.options %}
        <li class="flex justify-center items-center hover:bg-slate-950">
            <input type="checkbox" id="{{ option.answer | replace({' ': '-'}) | lower }}" value="" name="technologies" class="hidden peer">
            <label for="{{ option.answer | replace({' ': '-'}) | lower }}" class="inline-flex items-center justify-between w-full p-2 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer md:p-5 dark:hover:text-gray-300 dark:border-gray-700 peer-checked:border-primary-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700">
                <div class="block">
                    {% if option.icon_image %}
                        <img src="{{ mb.get_the_post_thumbnail_url(option.icon_image[0]) }}" class="mb-2 w-7 h-7 text-sky-500" />
                    {% endif %}
                    <div class="w-full text-lg font-semibold">
                        {{ option.answer }}
                    </div>
                    <div class="w-full text-sm">
                        {{ option.caption }}
                    </div>
                    <p class="text-slate-400">(This is the caption)</p>
                </div>
            </label>
        </li>
    {% endfor %}
</ul>
